# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Temp files
*.ll
*.bc

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# DS_Store
.DS_Store

# build directories
build/
SensiTaint/build/

# Backup files
*.bak

# PhASAR external directory as we use the installed version for now
external/

# SensiTaint binary and test executables
SensiTaint/sensitaint
SensiTaint/test
SensiTaint/test[0-9]*
SensiTaint/test_*